.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* gap: 10px; */
    background-color: #ffffff;
    padding: 1px;
    width: 25rem;
    margin-left: 50rem;
    border: 0.5px solid rgb(173, 173, 173);
    border-radius: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 11px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .item1 {
    grid-column: 1 / span 6;
  }
  .item2{
    margin-left: 0.5rem;
  }
  .item3{
    margin-left: 10rem;
  }
 

  .sign{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 217, 0);
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 15rem;
  }
  .notice{
    color: grey;
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .active-link{
    color: rgb(0, 204, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .item2 p {
    color: rgb(78, 78, 78);
    text-align: left;
  }
  .item3 p {
    color: rgb(78, 78, 78);
    text-align: left;

  }
  .item2 h2{
    text-align: left;
  }
  .item3 h2{
    text-align: left;
  }
